container

div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

body {
    background-color: white;
    color: #d4d6ed;
}
#wrapper {
    _position: absolute;
    _top: 50%;
}
#container {
    /*background-color: red;*/
    width: 800px;
    height: 580px;
    position: absolute;
    top: 0; right: 200; bottom: -1; left: 0;
    margin: auto;
    overflow: hide;
    _position: relative;
    _margin: 0 auto;
    _top: -50%;
    _overflow: none;

}

.info {
    display: none;
    text-align: center;
    font-family: "Helvetica",Arial,sans-serif;
    font-size: 12pt;
    line-height: 100px;
}
#infobox {
    /*border: 1px solid #ccc;*/
    /*position: absolute;*/
    top: 0px;
    width:400px;
    height: 10px;
    overlay: auto;
    /*background-color: red;*/
}

#test {
    display: none;
    color: #0f0;
}

#tablasDistritos{
    position:absolute;
    left:600px;
    top:200px;
}

h4{
    font-family: "Helvetica",Arial,sans-serif;
    font-style:normal;
    font-weight:normal;
    font-size: 11px;
    line-height: 14px;
    color: #010101;
}

#ley{
    font-family: "Helvetica",Arial,sans-serif;
    font-style:normal;
    font-weight:normal;
    font-size: 10px;
    color:#004899;
    padding-left: 60px;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
}

#leyIn{
    font-family: "Helvetica",Arial,sans-serif;
    font-style:normal;
    font-weight:normal;
    font-size: 10px;
    color:#004899;
    text-align: center;
}

#masInfo{
    font-family: "Helvetica",Arial,sans-serif;
    font-style:normal;
    font-weight:normal;
    font-size: 10px;
    color:#004899;
    text-align: center;
}

.divspoiler{
    padding-left: 175px;
    padding-bottom: 10px;
    font-size: 10px;
}


.boton{
    background-color: #706F6F; 
    padding: .8em 1.8em;
    font-family: "Helvetica",Arial,sans-serif;
    font-style:normal;
    font-weight: lighter;
    font-size: 14px;
    color: #ffffff;    
    background-repeat: no-repeat;
    padding-left: 32px;
    text-decoration:none; 
    border: 1px solid #ffffff;
}
.boton:hover {
    background-color:   #EFEEE8;  
    //color: #004899;
    cursor: pointer;
    color: #000000;    
    text-decoration:none;    
}





/*XXxxxxxxxxxxxxxxxxxx*/





.azuayplus{
    position:absolute;
    left:140px;
    top:350px;       
}



table{
    font-family: "Helvetica",Arial,sans-serif;
    font-style:normal;
    font-weight: 400px;
    font-size: 12px;
    color: #333333;
    text-align: center;
    width: 100%;
    padding: 5px;
}

table td{
    font-size: 12px;
    padding: 5px;
}

table thead{
    background-color: #0256a4;
    color: #fff;
}

h3{
    font-size: 15px;
    font-weight: 600px;
    color: #000;
}

h1{
    font-size: 18px;
    font-weight: 900px;
    color: #004899;
    
    
}
h2{
    font-size: 22px;
    font-weight: 900px;
    color: #004899;
    line-height:0px;
}
